/*.P_top{
	background: url(../img/l.jpg) fixed no-repeat top center;
	padding: 100px 0;
	margin-top: -20px;
}
.P_top h1{
	font-size: 40px;
	color: #fff;
	font-weight: bold;
}*/
.form-group a{
	outline: none;
}